@use '@/layouts/SurveyLayout' as layout;

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    gap: layout.$survey-tier-gap;
    box-sizing: border-box;
    font-family: var(--font-family-body);
    line-height: 140%;
    letter-spacing: 2.4%;
}

.info-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: layout.$survey-tier-2-height;
    text-align: center;

    .img-icon {
        width: 24px;
        height: auto;
        object-fit: contain;
        margin-bottom: 8px;
    }

    .img-description {
        font-size: 12px;
        font-weight: 300;
        color: var(--color-text-strong);
        margin: 0;

        &.error {
            color: var(--color-danger);
            font-weight: 500;
        }
    }
}

.info-question-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    .question-description {
        font-size: layout.$survey-question-font-size;
        font-weight: 600;
        color: var(--color-text-strong);
        margin: 0 0 8px;
    }

    .sub-description {
        font-size: layout.$survey-sub-font-size;
        font-weight: var(--font-weight-regular);
        letter-spacing: 0%;
        color: var(--color-text);
        margin: 0;
    }
}
